<!-- <h1> 
  {{title}}
</h1>
<hr>

<form action="" method="post">
  <input type="text" [(ngModel)] = "body.reference" name="reference" required><br><br>
  <input type="text" [(ngModel)] = "body.type" name="type" required><br><br>
  
  <input type="text" [(ngModel)] = "body.request.name" name="name" required><br><br>
  <input type="text" [(ngModel)] = "body.request.country" name="country" required><br><br>
  <input type="text" [(ngModel)] = "body.request.identity" name="identity" required><br><br>
  <button type="button" (click)="getMethod()">Submit</button><br><br>
</form>

<pre>{{getJsonValue | json}}</pre>
  
<p> {{sum }}</p>

<h2> The value is : {{counter}}</h2>
<button (click) = "increament()">Increament</button> -->


<div class="container py-5">

  <!-- For demo purpose -->
  <div class="row mb-4">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="display-4">Dynamic Web Service Interface</h1>

    </div>
  </div>
  <!-- End -->


  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">


        <!-- Credit card form content -->
        <div class="tab-content">

          <!-- credit card info-->
          <div id="nav-tab-card" class="tab-pane fade show active">
            <!-- <p class="alert alert-success">Some text success or error</p> -->
            <form role="form" (ngSubmit)="getMethod()">
              <div class="form-group">
                <label for="reference">reference</label>
                <input type="text" name="reference" placeholder="ddMMyyyy#1,2,3 ..." required class="form-control"
                  [(ngModel)]="body.reference">
              </div>
              <div class="form-group">
                <label for="type">type</label>
                <input type="text" name="type" placeholder="e.g. Core" required class="form-control"
                  [(ngModel)]="body.type">
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label><span class="hidden-xs">name</span></label>
                    <div class="input-group">

                      <input type="text" name="name" placeholder="name" class="form-control"
                        [(ngModel)]="body.request.name">

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label><span class="hidden-xs">country</span></label>
                    <input type="text" placeholder="country" name="country" class="form-control"
                      [(ngModel)]="body.request.country">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label><span class="hidden-xs">identity</span></label>
                    <div class="input-group">

                      <input type="text" placeholder="identity" name="identity" class="form-control"
                        [(ngModel)]="body.request.identity">
                    </div>
                  </div>
                </div>

              </div>
              <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Confirm
              </button>
            </form>
          </div>
          <!-- End -->



        </div>
        <!-- End -->

      </div>
    </div>
  </div>





</div>


<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Search Result
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>


            </tr>
          </thead>

          <tbody>
            <tr data-toggle="collapse" data-target="#entityWatchList" class="accordion-toggle">
              <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
              </td>
              <td>EntityWatchList</td>
            </tr>

            <tr>
              <td colspan="12" class="hiddenRow">
                <div class="accordian-body collapse" id="entityWatchList">
                  <table class="table table-striped">
                    <thead>
                      <tr class="info">
                        <th>More</th>
                        <th>Watch List Name</th>
                        <th>Watch List Number</th>
                        <th>Politically Exposed Person</th>
                        <th>Update Date</th>
                        <th>Entity Name</th>
                        <th>Sensititvity Rank</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let match of getJsonValue.searchResults?.watchListMatches">
                        <td >  <button type="button" class="btn btn-primary" (click)="openModal(match.remarks)">
                          More
                        </button></td>
                        <td>{{match?.watchListName}}</td>
                        <td>{{match?.watchListNumber}}</td>
                        <td>{{match?.politicallyExposedPersonInd}}</td>
                        <td>{{match?.updateDate}}</td>
                        <td>{{match?.entityName}}</td>
                        <td>{{match?.entityNameMatchSensitivity}}</td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </td>
            </tr>



            <tr data-toggle="collapse" data-target="#countryList" class="accordion-toggle">
              <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
              </td>
              <td>CountryWatchList</td>
            </tr>

            <tr>
              <td colspan="12" class="hiddenRow">
                <div class="accordian-body collapse" id="countryList">
                  <table class="table table-striped">
                    <thead>
                      <tr class="info">
                        <th>More</th>
                        <th>Watch List Name</th>
                        <th>Watch List Number</th>
                        <th>Politically Exposed Person</th>
                        <th>Update Date</th>
                        <th>Entity Name</th>
                        <th>Sensititvity Rank</th>

                      </tr>
                    </thead>

                    <tbody >
                        <tr *ngFor="let countryMatch of getJsonValue.searchResults.countryListMatches ">
                          <td>  <button type="button" class="btn btn-primary" (click)="openModal(countryMatch.remarks)">
                            More
                          </button></td>
                          <td>{{countryMatch?.watchListName}}</td>
                          <td>{{countryMatch?.watchListNumber}}</td>
                          <td>{{countryMatch?.politicallyExposedPersonInd}}</td>
                          <td>{{countryMatch?.updateDate}}</td>
                          <td>{{countryMatch?.entityName}}</td>
                          <td>{{countryMatch?.entityNameMatchSensitivity}}</td>
                        </tr>
                    </tbody>
                  </table>

                </div>
              </td>
            </tr>


            <tr data-toggle="collapse" data-target="#identityList" class="accordion-toggle">
              <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
              </td>
              <td>IdentityWatchList</td>

            </tr>

            <tr>
              <td colspan="12" class="hiddenRow">
                <div class="accordian-body collapse" id="identityList">
                  <table class="table table-striped">
                    <thead>
                      <tr class="info">
                        <th>More</th>
                        <th>Watch List Name</th>
                        <th>Watch List Number</th>
                        <th>Politically Exposed Person</th>
                        <th>Update Date</th>
                        <th>Entity Name</th>
                        <th>Sensititvity Rank</th>

                      </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let identityMatch of getJsonValue.searchResults.indentityListMatches">
                          <td>  <button type="button" class="btn btn-primary" (click)="openModal(identityMatch.remarks)">
                            More
                          </button></td>
                          
                          <td>{{identityMatch?.watchListName}}</td>
                          <td>{{identityMatch?.watchListNumber}}</td>
                          <td>{{identityMatch?.politicallyExposedPersonInd}}</td>
                          <td>{{identityMatch?.updateDate}}</td>
                          <td>{{identityMatch?.entityName}}</td>
                          <td>{{identityMatch?.entityNameMatchSensitivity}}</td>
                        </tr>

                    </tbody>
                  </table>

                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>

  <!-- <p>{{getParties() | json}}</p> -->
  <!-- <pre>{{getJsonValue.searchResults | json}}</pre> -->

</div>


<!-- Modal -->
<div class="modal fade" id="remarksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remarks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre>{{remarks}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="doSomething()">Do something</button>
      </div>
    </div>
  </div>
</div>